@font-face {
  font-family: "FinkHeavy";
  src: local("FinkHeavy"), 
    url(./fonts/FinkHeavy.ttf) format('ttf');
}

.font-face-fh {
  font-family: "FinkHeavy";
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.entireBoard {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.boardContainer {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: center; */
}

.square {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  background-image: none;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  line-height: 34px;
  width: 128px;
  height: 128px;
  position: relative;
  background-size: cover;
}

.villagerName {
  position: absolute;
  font-size: 28px;
  overflow: auto;
  color: #000000;
  -webkit-text-fill-color: #000000;
  -webkit-text-stroke: 0.5px white;
  margin-bottom: 0px;
}

.activeMarkers {
  z-index: 10;
  position: relative;
  object-fit: none;
}

@media screen and (max-width: 675px) {
  .square {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: center;
    align-content: stretch;
    background: #fff;
    background-image: none;
    background-size: 64px;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
    position: relative;
    background-size: cover;
  }

  .villagerName {
    font-size: 14px !important;
    color: #000000;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke: 0px white;
    margin-bottom: -8px;
  }

  .activeMarkers {
    width: 60px;
    height: 60px;
    opacity: 1 !important;
  }
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.buttonContainerContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
  border: 2px solid green;
  padding: 10px 10px;
  margin: 25px 5%;
  max-width: 90%;
  height: auto;
  overflow: auto;
}

.buttonContainer {
  /* position: relative;
  height: auto;
  display: flex; */
  padding: 10px;
  margin: 20px;
}

.apple .cherry .coconut .orange .peach .pear .bells .fossil .gift {
  /* background-image: url('./img/sprite.png'); */
  /* background-image: url('./img/Apple.png');
  background-repeat: no-repeat; */
  padding: 5px 10px;
}

.title {
  font-family: 'FinkHeavy';
  font-size: 4rem;
  margin: 1%;
}

.status {
  font-size: 2rem;
  padding: 2% 0%;
}

.shuffle {
  margin: 2%;
  padding: 5% 10%;
}