@import "bootstrap";
@font-face {
  font-family: 'FinkHeavy';
  src: url(./fonts/FinkHeavy.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'FinkHeavy', 'Pangolin', cursive;  
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    135deg,
    hsl(0deg 0% 100%) 0%,
    hsl(300deg 100% 100%) 0%,
    hsl(300deg 100% 100%) 1%,
    hsl(300deg 100% 100%) 3%,
    hsl(300deg 100% 100%) 8%,
    hsl(0deg 0% 100%) 50%,
    hsl(239deg 43% 94%) 92%,
    hsl(238deg 43% 89%) 97%,
    hsl(237deg 43% 83%) 99%,
    hsl(236deg 43% 78%) 100%,
    hsl(234deg 43% 72%) 100%
  );
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

#header, #footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  background-color: #a4d4a2;
  color: #5653ab;
  background: rgb(204,241,203);
  background: linear-gradient(140deg, rgba(204,241,203,1) 6%, rgba(213,245,222,1) 21%, rgba(166,241,187,1) 93%);
}

#header {
  margin-bottom: 50px;
  padding: 7px 0;
  box-shadow: 1px 0px 3px #007c74a2;
}

#footer {
  margin-top: 50px;
  height: 40px;
  font-size: x-small;
  box-shadow: 1px 0px 5px #007c744d;
}

#footer a {
  color: #007c74a2;
  text-decoration: none;
}

#footer a:hover {
  color: #007c74;
  text-decoration: underline;
}

#headerContent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
}

#headerLeft {
  font-family: 'FinkHeavy', 'Tsukimi Rounded', sans-serif;
  background: #3A3987;
  background: linear-gradient(to right, #3A3987 0%, #726FD2 71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: center;
}

#headerLeft > h1 {
  margin-bottom: 0px;
  padding: 0 15px;
}

#headerLeft > img {
  transition: transform 0.5s ease;
  transform: rotate(0turn);
  transition-delay: 0.25s;
}

#headerLeft:hover > img {
  transition: transform 0.5s ease;
  transform: rotate(0.90turn);
}

h1 {
  /* margin-top: 0; */
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
  overflow: auto;
}


.entireBoard {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.boardContainer {
  display: flex;
  flex-flow: row nowrap;
}

.square {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  background-image: none;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  line-height: 34px;
  width: 128px;
  height: 128px;
  position: relative;
  background-size: cover;
}

.titleSquare {
  font-size: 400%;
  text-align:center;
  font-family: 'FinkHeavy';
}

.villagerName {
  position: absolute;
  font-size: 28px;
  color: #000000;
  -webkit-text-fill-color: #000000;
  -webkit-text-stroke: 0.5px white;
  margin-bottom: 0px;
}

.activeMarkers {
  z-index: 10;
  position: relative;
  object-fit: none;
}

@media screen and (max-width: 675px) {
  .square {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: center;
    align-content: stretch;
    background: #fff;
    background-image: none;
    background-size: 64px;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
    position: relative;
    background-size: cover;
  }

  .villagerName {
    font-size: 14px !important;
    color: #000000;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke: 0px white;
    margin-bottom: -8px;
  }

  .activeMarkers {
    width: 60px;
    height: 60px;
    opacity: 1 !important;
  }
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.buttonContainerContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
  padding: 10px;
  margin: 40px;
  /* border styling: */
  background-color: #f8f9fa;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #7ae5ea, #3a3987);
}

.buttonContainer {
  margin: 10px;
}

.crop {
  aspect-ratio: 2/1;
  overflow: hidden; /* image boundaries */
  position: relative;
  width: 90px;
  height: 90px;
}

.title {
  font-family: 'FinkHeavy';
  font-size: 4rem;
  margin: 1%;
}

.status {
  font-size: 2rem;
  padding: 2% 0%;
}

.confetti-container {
  align-self: center;
  position: sticky;
  left: 50%;
}

.shuffle {
  margin: 2%;
  padding: 20px 10px;
}